.skybackground {
  background-color: rgba(171, 193, 209, 0.8);
}

.chatting {
  width: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.chatting:nth-child(1) {
  width: 33%;
}
.chatting:nth-child(2) {
  text-align: center;
  width: 33%;
}
.chatting:nth-child(3) {
  width: 33%;
}
