.friends{
    border: 9px solid rgba(0, 0, 0, 0);

}



.friends h6{
    font-size: 70%;
    font-weight: 800;
    color: rgba(0,0,0,0.4);

}

.friends span{

}

.friends img{
    border-radius: 42%;
}

.friends__myname{
    font-weight: 600;
    position: absolute;
    vertical-align: middle;
}

.friends__multiprofile{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.friends__channel{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.friends__friends{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}