.friends{
    padding-left: 8px;
}



.friends h6{
    font-size: 70%;
    font-weight: 800;
    color: rgba(0,0,0,0.3);

}

.friends span{
    position: absolute;
    padding: 9px 10px;
}

.friends img{
    border-radius: 42%;
}

.friends__myprofile{
    padding: 0px 10px;
}

.friends__myname{
    font-weight: 600;
    position: absolute;
    vertical-align: middle;
}