.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
}

.screen-header__title{
    font-size: 1.5em;
    font-weight:bolder;
}

.screen-header__icons span{
    margin-left: 20px;
}