.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space) 12px;
}

.screen-header__title{
    font-size: 1.5em;
    font-weight: 900;
}

.screen-header__icons span{
    margin-left: 20px;
}